* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body_index {
  background: linear-gradient(
    to right,
    rgb(154, 123, 195),
    white,
    white,
    white,
    white,
    white,
    white,
    white
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
