* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body_index {
  background: linear-gradient(
    to right,
    rgb(151, 90, 94),
    rgb(149, 125, 173),
    rgb(151, 90, 94)
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.hund {
  display: flex;
  justify-content: center;
}

img {
  width: 50%;
  border-radius: 20px;
  color: rgb(151, 90, 94);
}
