* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-size: 17px;
  border-style: solid;
  border: #eeeeee;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  padding: 10px;
}

a:visited {
  color: black;
}
