* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  padding: 10px;
  height: 300px;
  width: 450px;
  text-align: center;
}

/* .paragraph_1 {
  padding: 10px;
  height: 300px;
  width: 500px;
}

.paragraph_2 {
  padding: 10px;
  height: 300px;
  width: 500px;
}

.paragraph_3 {
  padding: 10px;
  height: 300px;
  width: 500px;
} */
