* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #975a5e;
}

h1 {
  color: #eeeeee;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #eeeeee;
}
img {
  width: 25%;
}
